.page-dash{
  margin: 50px 100px;
}


.title_dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

  .grid-dash{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin: 50px 100px;
  }

  .card-header{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 100px;
  }


  .button-dach-accep {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}

.booking_star_dispo{
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.button_etoile_dash{
  margin-top: 30px;
  margin-left: 100px;
  a {
    color:rgb(251, 185, 255);
    text-decoration: none;
    background-color: rgba($color: #e9c9f8, $alpha: 0.2);
    border-radius: 10px;
    padding: 5px;
  }
}

.button_etoile_dash a:hover{
  color: rgb(207, 98, 213);
  background-color: rgba($color: #e9c9f8, $alpha: 0.6);
}
