// Specific CSS for your home-page
.background_image_nova{
  background-image: url("supernova_background.jpg");
  width: 100%;
  height: 100vh;
}

h1#titre_homepage{
  color:white;
  text-align: center;
  padding-top: 350px;

}

h3.sous_titre_homepage{
  color:white;
  text-align: center;
  margin: auto;


}

#phrase_daccroche{
  padding-bottom: 350px;

}
