.card body{
padding-top: 400px;
}



.photo{
  width: 1000px;
  height: 530px;
  
}

.card-body{


  h1{
    color: purple
  }

}

.button{

  margin-left: 900px;
  margin-bottom: 10000px;
  border-radius: 30px;
  background-color: purple;
  color: white

}

.btn{
  margin-bottom: 100px;
}

h4{
  color:silver
}

h2{
  color:rgb(246, 103, 246)
}
