<%# <a href="https://icons8.com/icon/y1bo9DEFx7BS/stars">Stars icon by Icons8</a> %>
<div class = "background_image_nova">
  <div class = "ta_mere">
    <h1 id="titre_homepage">Dream on Stars</h1>
    <div id = "phrase_daccroche">
      <h3 class="sous_titre_homepage">pourquoi se contenter de la lune?</h3>
      <h3 class="sous_titre_homepage">quand on peut viser les étoiles</h3>
      <h4 class="button_etoile"><%= link_to "Voir les étoiles", stars_path %></h4>
    </div>
  </div>
</div>
